<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: meta_header('top',~{::link},~{::script})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<div th:replace="common :: header"></div>

<main>
    <div class="container">
        <div class="row justify-content-md-center">
            <form th:action="@{/combi/regist}" th:object="${geininForm}" method="post">
                <div class="table-responsive">
                    <table class="table">
                        <tr class="form-group">
                            <th>芸名</th>
                            <td>
                                <input type="text" class="form-control" name="combi_name">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <th>デビュー年</th>
                            <td>
                                <input type="text" class="form-control" name="debut">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <th>説明</th>
                            <td>
                                <input type="text" class="form-control" name="description">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <th>事務所</th>
                            <td>
                                <input type="text" class="form-control" name="office">
                            </td>
                        </tr>
                    </table>
                </div>
                <input type="submit" class="btn btn-dark" name="back" value="戻る">
                <input type="submit" class="btn btn-primary" name="new" value="実行">
            </form>
        </div>
    </div>
</main>

</body>
</html>